.sign-up{
    .formError{
        margin: 10px 0;
        padding: 5px;
        border-radius: 5px;

        text-align: center;
        background-color: rgba(230, 40, 56, .2);
        border: solid 1px rgb(230, 40, 56);
    }
}